<section class="form-section">
  <div class="form__header">
    <h1>Vaccination registration</h1>
    <p>Please fill out this form in order to register for your vaccination.</p>
  </div>
  <form [formGroup]="vaccinationForm" (ngSubmit)="onSubmit()" class="form__body">
      <mat-form-field class="form__field">
        <mat-label>Name</mat-label>
        <input type="text" formControlName="name" matInput required>
        <mat-error *ngIf="vaccinationForm.controls['name'].hasError('required')" class="alert">Name is required</mat-error>
        <mat-error *ngIf="vaccinationForm.controls['name'].invalid && (vaccinationForm.controls['name'].dirty || vaccinationForm.controls['name'].touched)">
          Invalid name
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form__field">
        <mat-label>Surname</mat-label>
        <input type="text" formControlName="surname" matInput required>
        <mat-error *ngIf="vaccinationForm.controls['surname'].hasError('required')">Surame is required</mat-error>
        <mat-error *ngIf="vaccinationForm.controls['surname'].invalid && (vaccinationForm.controls['surname'].dirty || vaccinationForm.controls['surname'].touched)">
          Invalid surname
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form__field">
        <mat-label>Birthdate</mat-label>
        <input formControlName="birthdate" matInput [matDatepicker]="picker" placeholder="Choose a date" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="vaccinationForm.controls['birthdate'].hasError('required')">Birthdate is required</mat-error>
      </mat-form-field>

      <mat-form-field class="form__field">
        <mat-label>Email</mat-label>
        <input type="text" formControlName="email" matInput required>
        <mat-error *ngIf="vaccinationForm.controls['email'].hasError('required')">Email address is required</mat-error>
        <mat-error *ngIf="vaccinationForm.controls['email'].hasError('email')">Enter a valid email address</mat-error>
      </mat-form-field>

      <mat-form-field class="form__field">
        <mat-label>Phone number</mat-label>
        <input type="text" formControlName="phone" matInput>
        <mat-error *ngIf="vaccinationForm.controls['phone'].invalid">Enter a valid phone number</mat-error>
      </mat-form-field>
  
    <div class="form__submit">
      <button [disabled]="!vaccinationForm.valid" mat-flat-button color="primary">Submit</button>
    </div>
  
  </form>
</section>
